<html>
<head>
    <title>@ViewData["Title"] - Minha App Modelo</title>

    @*<link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />*@
    <link href="~/css/site_bundle.min.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="~/lib/bootstrap/css/scss/_navbar.scss" />*@
    <link rel="stylesheet" href="~/lib/font-awesome/css/fontawesome.css" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">AppModelo</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Produtos" asp-controller="Cadastro" asp-action="Index">Cadastro</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Vendas" asp-controller="Pedidos" asp-action="Index">Pedidos</a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </header>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()@*A View que esta sendo usada na Rota*@
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">Minha App Modelo - <email email-domain="gmail.com">felipemoreirasilva97</email></div>
    </footer>

    <environment include="Development">
        <script src="~/js/site_bundle.min.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    </environment>
    @*Opcional*@
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    @*<environment exclude="Development">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/js/bootstrap.bundle.min.js"
                    asp-fallback-src="~/lib/bootstrap/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha256-E/V4cWE4qvAeO5MOhjtGtqDzPndRO1LBk8lJ/PR7CA4="></script>
        <script src="~/lib/jquery/jquery.js"></script>
        </environment>*@
</body>
</html>